{% extends "base.html" %} {% load static %}  {% block addCSS %} <link rel="stylesheet"
href="{% static "css/home.css" %}"> {% endblock addCSS %} {% block content %}

  <header class="header-container">
    <div class="food_details">
        <h1>At our place - tasty and cozy</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio adipisci maxime dolor quos veritatis suscipit officiis eius, ducimus quis aspernatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod hic ipsa quisquam voluptas accusantium tempore, autem iste quo similique </p>
        <div class="button_div">
            <button>Order Now</button>
            <button>Check Meals</button>
        </div>
       </div>
  </header>

{% endblock content %}
