*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    margin-left: auto;
    opacity: 1;
}
.navbar-nav li{
    padding: 0 30px;
    font-size: 18px;
}
nav{
    background-color: #000000;
}
header{
    /* background-image: url('/static/images/bg1.jpg'); */
    background: url('/static/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 100vh;
}